@font-face {
  font-family: "Raleway_Medium";
  src: url("../assets/fonts/raleway/Raleway-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Raleway_Regular";
  src: url("../assets/fonts/raleway/Raleway-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Raleway_Light";
  src: url("../assets/fonts/raleway/Raleway-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Raleway_ExtraLight";
  src: url("../assets/fonts/raleway/Raleway-ExtraLight.ttf") format("opentype");
}

@font-face {
  font-family: "Raleway_Thin";
  src: url("../assets/fonts/raleway/Raleway-Thin.ttf") format("opentype");
}